<div class="my-4">
  <div class="flex gap-8 overflow-x-auto hide-scrollbar">
    @for (tab of tabsData(); track $index) {
    <button
      class="px-4 py-2 cursor-pointer rounded-md hover:bg-muted duration-300 min-w-fit"
      [ngClass]="{ 'active-tab hover:bg-primary-light': activeTab() === tab.enquiryType }"
      (click)="activeTab.set(tab.enquiryType)"
    >
      {{ tab.title }}
    </button>
    }
  </div>

  <div class="my-6">
    @if(typeof activeTabData()?.content === 'object'){
    <app-accordion [accordionData]="activeTabData()?.content"></app-accordion>
    }@else {
    <p>{{ activeTabData()?.content }}</p>
    }
  </div>
</div>
