<div class="my-4">
  <div class="flex gap-8 overflow-x-scroll scrollbar-hide">
    @for (tab of tabsData(); track $index) {
    <button
      class="px-4 py-2 cursor-pointer rounded-md hover:bg-muted duration-300 min-w-fit"
      [ngClass]="{ 'active-tab hover:bg-primary-light': activeTab() === $index }"
      (click)="onSelectTab($index)"
    >
      {{ tab.title }}
    </button>
    }
  </div>

  <div class="my-6">
    @if(typeof tabsData()?.[activeTab()]?.content === 'object'){
    <app-accordion [accordionData]="tabsData()?.[activeTab()]?.content"></app-accordion>
    }@else {
    <p>{{tabsData()?.[activeTab()]?.content}}</p>
    }
  </div>
</div>
