<div class="mt-4 mb-28">
  <lib-image
    [src]="salesRepresentative()?.profilePic?.[0]?.image??''"
    alt="{{ salesRepName() }}"
    class="w-[48px] h-[48px] !rounded-full !my-0 !py-0 mr-4 block"
  />
  <h3 libText textType="heading3" class="mb-3 mt-2">
    {{ chatbotHomeData()?.message_title }} {{ salesRepName().trim().split(' ')[0] }},
  </h3>
  <p libText textType="text-normal">{{ chatbotHomeData()?.message }}</p>
</div>

<div class="p-1 bg-[#F6F6F6] mb-10 rounded-2xl flex flex-col gap-2">
  @for (enquiry of enquiries(); track enquiry.key) {
  <lib-button
    type="tetiary"
    title="Go to {{ enquiry.label }}"
    buttonIdentifier="chatbot-enquiry-{{ enquiry.key }}-btn"
    buttonStyles="!flex !flex-row !items-center !justify-start !bg-white !rounded-2xl !p-3 w-full text-left"
    (buttonClick)="navigateTo(enquiry.key)"
  >
    @switch (enquiry.key) { @case (enquiryTypes.product) {
    <div class="w-10 h-10 rounded-full bg-primary-light flex flex-col justify-center items-center" aria-hidden="true">
      <img aria-hidden="true" src="icons/armchair-icon.svg" alt="Armchair icon" />
    </div>
    } @case (enquiryTypes.orders) {
    <div class="w-10 h-10 rounded-full bg-primary-light flex flex-col justify-center items-center" aria-hidden="true">
      <img aria-hidden="true" src="icons/package-icon.svg" alt="Package icon" />
    </div>
    } @case (enquiryTypes.general) {
    <div class="w-10 h-10 rounded-full bg-primary-light flex flex-col justify-center items-center" aria-hidden="true">
      <img aria-hidden="true" src="icons/archive-icon.svg" alt="Archive icon" />
    </div>
    } }
    <span libText textType="heading6" class="block ml-3">{{ enquiry.label }}</span>
  </lib-button>
  }
</div>
