<div class="flex justify-end py-3 bg-neutral px-4 lg:px-8 xl:px-16">
  <lib-modal [modalClass]="'bg-green-500'" [position]="'right'" #modalComponent>
    <div modalButton>
      <div class="flex bg-white py-1 px-2 gap-2 items-center rounded-sm font-bold text-base">
        <lucide-icon [img]="globeIcon" [size]="18"></lucide-icon>
        <p>{{ currentLocale().country }}</p>
        <span class="h-6 w-[1px] bg-grayText"></span>
        <p>{{ currentLocale().language }}</p>
      </div>
    </div>
    <div modalContent class="h-full">
      <div
        class="p-4 sm:p-6 md:p-8 flex flex-col gap-8 md:gap-extraLarge w-screen sm:w-modalMedium lg:w-modalLarge max-h-[calc(100vh-56px)] overflow-y-auto h-full"
      >
        <p libText textType="heading4">Select your language and Country</p>
        <div class="flex flex-col">
          <lib-select-input placeholder="Select country" label="Country" [options]="countries()" />
          <lib-select-input placeholder="Select language" label="Language" [options]="languages()" />
          <div class="flex p-4 flex-col gap-2 bg-gray-100 rounded-md mt-8">
            <div class="flex items-center gap-2">
              <span><app-information-circle-icon /></span>
              <p>Countries we operate</p>
            </div>

            <p class="text-base leading-6">
              The countries we operate in with their default language are; {{ supportedCountries() }}.
            </p>
          </div>
        </div>
        <div>
          <lib-button
            (click)="modalComponent.closeModal()"
            buttonStyles="w-full"
            varient="primary"
            buttonIdentifier="inter-close-btn"
          >
            Close
          </lib-button>
        </div>
      </div>
    </div>
  </lib-modal>
</div>
