<div
  [class]="
    isOpen
      ? 'show-search-field px-[1rem] py-2 flex items-center justify-center'
      : 'relative items-center -translate-y-20 -z-10 opacity-0'
  "
>
  <lib-button
    buttonStyles="!bg-transparent !border-transparent"
    class="absolute left-1"
    type="tetiary"
    buttonIdentifier="home-search-field-button"
  >
    <lucide-angular [img]="icons.Search" [size]="14" color="#5d5d5d" />
  </lib-button>
  <input
    class="items-center flex"
    type="text"
    placeholder="Search Products"
    class="border-2 px-8 py-2 w-[100%] rounded-md"
  />
</div>
