<div class="w-full flex flex-col gap-6 lg:flex-row lg:justify-between lg:items-stretch py-[64px]">
  <div class="w-full lg:w-1/2 flex flex-col gap-6 lg:gap-8">
    <app-responsive-heading [title]="data()?.title ?? ''" [description]="data()?.description ?? ''" />

    <div class="flex flex-wrap">
      @for (item of data()?.items; track item._uid) {
      <app-value-prop-item
        class="w-fit md:w-1/2 flex-shrink-0"
        [ngClass]="{ 'md:pr-6': $index % 2 === 0 }"
        [icon]="item.icon.filename"
        [meritDescription]="item.description"
        [meritTitle]="item.title"
      />
      }
    </div>
  </div>
  <div class="w-full lg:w-1/2 flex justify-end">
    <div class="w-full lg:w-[32rem] h-[calc(100%-32px)] flex flex-col justify-stretch">
      <div class="h-full bg-muted rounded-xl overflow-hidden">
        <lib-image
          [alt]="data()?.image_alt_text ?? ''"
          class="object-cover w-full h-full"
          [src]="data()?.image_url ?? ''"
        />
      </div>
    </div>
  </div>
</div>
