@if(contactUsContent()){
<section
  [ngStyle]="bgColor() ? { 'background-color': bgColor() } : { 'background-image': 'url(' + bgImg() + ')' }"
  class="w-full min-h-[810px] bg-center bg-cover"
>
  <div
    class="page-container flex flex-col lg:flex-row gap-6 lg:justify-between items-center lg:items-start py-14 justify-center"
    [ngClass]="{ 'flex-col-reverse lg:flex-row-reverse': position() === 'form-first' }"
  >
    <div class="w-full lg:w-[40%] flex flex-col gap-12 md:w-[70%]">
      <span class="flex flex-col gap-3 text-center lg:text-left">
        <h2 libText textType="heading2" class="text-white lg:w-[65%] md:text-4xl">{{ contactUsContent()?.title }}</h2>
        <p libText textType="text-medium" class="text-white">{{ contactUsContent()?.description }}</p>
      </span>
      <lib-sales-rep></lib-sales-rep>
    </div>

    @if(formContent()){
    <form
      class="w-full md:w-[70%] lg:w-[40%] flex flex-col gap-6 bg-white rounded-md px-8 py-10"
      (ngSubmit)="onSubmit()"
      [formGroup]="contactForm"
    >
      <h3 libText textType="heading3">{{ formContent()[0].heading }}</h3>
      <label class="sr-only" for="name">Enter Full Name</label>
      <lib-text-input
        [placeholder]="formContent()[0].inputField[0].placeholder"
        [label]="formContent()[0].inputField[0].label"
        [control]="contactFormControls.name"
        [error]="
          contactFormControls.name.invalid && (contactFormControls.name.touched || contactFormControls.name.dirty)
        "
        [errorMessage]="getErrorMessage(contactFormControls.name, 'name')"
      ></lib-text-input>
      <label class="sr-only" for="email">Enter Email Address</label>
      <lib-text-input
        [placeholder]="formContent()[0].inputField[1].placeholder"
        [label]="formContent()[0].inputField[1].label"
        [control]="contactFormControls.email"
        [error]="
          contactFormControls.email.invalid && (contactFormControls.email.dirty || contactFormControls.email.touched)
        "
        [errorMessage]="getErrorMessage(contactFormControls.email, 'email')"
      ></lib-text-input>

      <span class="flex flex-col gap-2">
        <label for="message" libText textType="text-medium" class="text-black font-semibold">{{
          formContent()[0].inputField[2].label
        }}</label>
        <label class="sr-only" for="message">Kindly type your message</label>
        <textarea
          formControlName="message"
          [placeholder]="formContent()[0].inputField[2].placeholder"
          rows="10"
          class="border px-4 py-3 border-border rounded-md active:outline-none focus:outline-none"
          [ngClass]="{
            'border-red-500': contactFormControls.message.invalid && contactFormControls.message.touched,
            'border-border':( contactFormControls.message.valid && contactFormControls.message.touched) || contactFormControls.message.untouched,
          }"
        ></textarea>
        <span
          *ngIf="contactFormControls.message.invalid && contactFormControls.message.touched"
          class="flex gap-2 items-center"
        >
          <lucide-icon [img]="errorIcon" [size]="15" color="rgb(239 68 68)"></lucide-icon>
          <p libText textType="text-small" class="text-red-500">
            {{ getErrorMessage(contactFormControls.message, 'message') }}
          </p>
        </span>
      </span>

      <lib-button
        buttonStyles="!w-[100%]"
        (buttonClick)="onSubmit()"
        [state]="allFieldsNotFilled() ? 'disabled' : 'default'"
        [buttonIdentifier]="formContent()[0].submitBtn[0].identifier"
        [ngClass]="{ 'animate-shake': contactForm.invalid && isFormSubmitted() }"
        >{{ formContent()[0].submitBtn[0].buttonText }}</lib-button
      >
    </form>
    }
  </div>
  @if(isFormSubmitted() && contactForm.valid){
  <lib-toast title="Message Sent" type="success" message="We will get back to you shortly"></lib-toast>
  }
</section>
}
