<div class="w-full text-center flex flex-col items-center gap-8">
  <app-responsive-heading
    title="Global Presence"
    description="AmaliHomes has expanded globally, bringing exceptional craftsmanship and timeless designs to families around the world. Experience comfort, quality, and style—wherever you are"
  />
  <div class="w-full md:h-[60vh] lg:h-[50vh] h-[60vh] max-h-[614px] overflow-hidden">
    <iframe
      class="w-full h-full"
      [src]="mapUrl"
      width="100%"
      height="614"
      style="border: 0"
      allowfullscreen
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
</div>
