<div class="py-[64px] md:px-[32px]">
  <div class="mx-auto flex flex-col items-center text-center">
    <app-responsive-heading [title]="content()?.title ?? ''" [description]="content()?.description ?? ''" />
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-6 w-full">
    <div *ngFor="let stat of content()?.statistics" class="p-6 flex flex-col items-center">
      <div
        class="text-[rgb(234,105,12)] font-lato font-semibold text-[32px] leading-[40px] md:text-[48px] md:leading-[56px]"
      >
        {{ stat.figure }}
      </div>
      <div class="text-[#5D5D5D] font-lato font-normal text-base leading-6 mt-4">
        {{ stat.statfield }}
      </div>
    </div>
  </div>
</div>
