<div
  [ngClass]="{ 'h-full': expandChat, 'top-auto': !expandChat }"
  class="fixed inset-0 md:h-auto md:top-auto md:left-auto z-20 hide-scrollbar md:pr-4 lg:pr-8 xl:pr-12 2xl:pr-20 !pl-0 pr-0"
>
  @if(!expandChat){
  <lib-button
    buttonIdentifier="chatbot-start-btn"
    type="tetiary"
    [title]="chatbotHomeData()?.avatar_alt_text ?? ''"
    buttonStyles="rounded-full !bg-transparent relative !p-0 !py-0 !px-0"
    (buttonClick)="handleExpandChat()"
    class="absolute bottom-0 right-0 mb-5 md:pr-4 lg:pr-8 xl:pr-12 2xl:pr-20 !pl-0 pr-0"
  >
    <lib-image
      [src]="salesRepresentative()?.profilePic?.[0]?.image??''"
      alt="{{ salesRepresentative()?.name ?? '' }}"
      class="w-[48px] h-[48px] !rounded-full !shadow-lg"
    />
  </lib-button>
  } @else {
  <div
    class="animate-slideUp relative hide-scrollbar bg-white shadow-xl overflow-auto w-full h-full md:max-w-[393px] md:max-h-[580px] md:min-h-[552px] md:h-3/4 md:rounded-3xl md:mb-5 flex flex-col"
  >
    <!--Header-->
    <div class="sticky z-10 top-0 w-full px-4 bg-white pt-4 pb-1 flex justify-between items-center">
      <div>
        <button
          data-btn-id="chatbot-go-back-btn"
          aria-label="Go back"
          [attr.aria-label]="chatbotHomeData()?.back_btn_text"
          *ngIf="showBackButton"
          class="rounded-full bg-primary-light w-10 h-10"
          (click)="handleBackButtonClick()"
        >
          <lucide-angular
            aria-hidden="true"
            [img]="icons.ChevronLeft"
            class="mx-auto my-auto text-primary"
            [size]="16"
          />
        </button>
      </div>
      <button
        data-btn-id="chatbot-exit-btn"
        aria-label="Exit"
        [attr.aria-label]="chatbotHomeData()?.exit_btn_text"
        (click)="handleExpandChat()"
        class="rounded-full bg-primary-light w-10 h-10"
      >
        <lucide-angular aria-hidden="true" [img]="icons.X" class="mx-auto my-auto text-primary" [size]="16" />
      </button>
    </div>

    <div
      class="flex-grow w-full md:w-[361px] h-[100rem] flex flex-col"
      [ngClass]="{ 'px-4': activeTab !== ChatBotTabTypes.chat }"
    >
      @switch (activeTab) { @case (ChatBotTabTypes.home) { @if (navigatedHomeTabEnquiry === null) {
      <app-chatbot-home
        (tabNavigation)="navigateToHomeTabEnquiry($event)"
        [salesRepresentative]="salesRepresentative()"
      />
      } @else if (navigatedHomeTabEnquiry === homeTabEnquiryTypes.orders) {
      <app-chatbot-order-enquiry />
      } @else if (navigatedHomeTabEnquiry === homeTabEnquiryTypes.general) {
      <app-chatbot-general-enquiry />
      } @else if (navigatedHomeTabEnquiry === homeTabEnquiryTypes.product) {
      <app-chatbot-product-enquiry (return)="handleBackButtonClick()" />
      } } @case (ChatBotTabTypes.chat) {
      <div class="flex-grow h-full">
        <app-tawk-chat />
      </div>
      } @case (ChatBotTabTypes.help) {
      <app-chatbot-faq />
      } }
    </div>

    <!--Bottom Navigation-->
    @if (showBottomNavigation && activeTab !== ChatBotTabTypes.chat) {
    <div class="sticky bottom-0 bg-white w-full px-4 pb-4">
      <div class="bg-primary-light h-14 flex items-center justify-around rounded-2xl">
        @for (tab of tabs; track tab) {
        <lib-button
          type="tetiary"
          buttonIdentifier="chatbot-{{ tab }}-btn"
          [title]="tabLabels()?.[tab]??''"
          (buttonClick)="navigateTo(tab)"
          buttonStyles="!bg-transparent !p-0 !py-0 !px-0 !m-0 flex flex-col items-center justify-center"
        >
          @switch (tab) { @case (ChatBotTabTypes.home) {
          <app-chatbot-home-icon [selected]="isSelected(ChatBotTabTypes.home)" />
          } @case (ChatBotTabTypes.chat) {
          <app-chatbot-chat-icon [selected]="isSelected(ChatBotTabTypes.chat)" />
          } @case (ChatBotTabTypes.help) {
          <app-chatbot-question-icon [selected]="isSelected(ChatBotTabTypes.help)" />
          } }
          <div
            class="w-2 h-2 rounded-full bg-primary transition-all duration-300 mx-auto"
            [ngClass]="isSelected(tab) ? 'scale-100 opacity-100' : 'scale-0 opacity-0'"
          ></div>
        </lib-button>
        }
      </div>
    </div>
    }
  </div>
  }
</div>
