@if (data()) {
<header class="relative">
  <app-internationalization-bar [locale]="data()!.locale"></app-internationalization-bar>
  <nav class="flex justify-between items-center text-xs py-[0.8rem] border-b-border border-b page-horizontal-padding">
    <a routerLink="/" title="Home">
      <app-logo />
    </a>
    <app-navlinks [navLinks]="data()!.navLinks" class="hidden lg:flex"></app-navlinks>

    <span class="flex items-center">
      <lib-button
        type="tetiary"
        size="small"
        (buttonClick)="onOpenSearchField()"
        buttonStyles="!w-fit !px-4"
        buttonIdentifier="search-button"
        title="Search"
      >
        <lucide-icon [img]="searchIcon" [size]="18"></lucide-icon>
      </lib-button>

      @if(isAuthenticated){
      <lib-button type="tetiary" buttonStyles="!w-fit !px-4" buttonIdentifier="shopping-cart-button">
        <lucide-icon [img]="cartIcon" [size]="18"></lucide-icon>
      </lib-button>
      <app-user-icon />

      }@else {
      <lib-button class="!w-fit hidden lg:!block" buttonIdentifier="login-button">{{ data()?.buttonText }}</lib-button>
      }

      <lib-button
        title="Toggle search input field"
        buttonStyles="!w-fit !block !px-0 !ml-4 lg:!hidden"
        type="tetiary"
        (buttonClick)="onMenuToggle()"
        buttonIdentifier="menu-button"
        title="Menu"
      >
        <lucide-icon
          aria-hidden="true"
          [img]="isMenuOpen() ? closeIcon : menuIcon"
          [size]="18"
          [color]="isMenuOpen() ? '#ea690c' : '#000'"
        ></lucide-icon>
      </lib-button>
    </span>
  </nav>

  <app-menu
    *ngIf="isMenuOpen()"
    [isAuthenticated]="isAuthenticated"
    [navLinks]="data()!.navLinks"
    [placeholder]="data()?.inputPlaceholder"
    [authBtn]="data()?.buttonText"
  ></app-menu>
  <app-search-field
    [searchPlaceholer]="data()?.inputPlaceholder"
    class="w-[100%] absolute"
    [class]="isMenuOpen() ? 'hidden lg:block' : ''"
    [style.zIndex]="isSearching() ? '3' : ''"
  ></app-search-field>
  <app-cookie-banner class="absolute top-0 left-0 right-0 z-20 mt-[125px]" />
</header>
} @else {
<!-- Displays loading skeletons while header data is fetched -->
<div
  class="flex justify-between items-center bg-white border-b border-b-gray-200 page-horizontal-padding pb-3 pt-[5rem] overflow-x-hidden"
>
  <div appSkeleton class="w-24 h-7 rounded-md"></div>
  <div class="flex items-center gap-4">
    <div appSkeleton class="w-20 h-5 rounded-md"></div>
    <div appSkeleton class="w-20 h-5 rounded-md"></div>
    <div appSkeleton class="w-20 h-5 rounded-md"></div>
    <div appSkeleton class="w-20 h-5 rounded-md"></div>
    <div appSkeleton class="w-20 h-5 rounded-md"></div>
  </div>
  <div appSkeleton class="w-24 h-11 rounded-md"></div>
</div>
}
