<header>
  <app-internationalization-bar></app-internationalization-bar>
  <nav class="flex justify-between items-center text-xs py-[0.8rem] border-b-border border-b px-4 lg-px-8 xl:px-16">
    <img src="images/logo.svg" alt="logo" />

    <ul class="min-[975px]:flex gap-[1rem] text-typo-1 hidden">
      <li routerLinkActive="active-route" class="route">
        <a routerLink="/home" routerLinkActive="text-primary font-medium">Home</a>
      </li>
      <li routerLinkActive="active-route" class="route">
        <a routerLink="/home" routerLinkActive="text-primary font-medium">Shop</a>
      </li>
      <li routerLinkActive="active-route" class="route">
        <a routerLink="/home" routerLinkActive="text-primary font-medium">About</a>
      </li>
      <li routerLinkActive="active-route" class="route">
        <a routerLink="/home" routerLinkActive="text-primary font-medium"> FAQs </a>
      </li>
      <li routerLinkActive="active-route" class="route">
        <a routerLink="/home" routerLinkActive="text-primary font-medium">News</a>
      </li>
    </ul>

    <span class="flex items-center justify-center gap-5" [ngClass]="{ 'gap-0': isAuthenticated }">
      <lib-button
        buttonIdentifier="page-header-search-btn"
        type="tetiary"
        size="small"
        (buttonClick)="isSearching = !isSearching"
        buttonStyles="!w-fit"
        class="!w-fit"
      >
        <lucide-angular [img]="icons.Search" [size]="15" color="#5d5d5d" />
      </lib-button>

      @if(isAuthenticated){
      <lib-button
        buttonIdentifier="page-header-shopping-cart-btn"
        type="tetiary"
        (buttonClick)="isSearching = !isSearching"
        buttonStyles="!w-fit"
        class="!w-fit"
      >
        <lucide-angular [img]="icons.ShoppingCart" [size]="20" color="#5d5d5d" />
      </lib-button>

      <img class="h-7 cursor-pointer" src="images/user.png" alt="user" />

      }@else {

      <lib-button class="!w-fit !min-[975px]:hidden" buttonIdentifier="page-header-login-btn"> Login </lib-button>

      }

      <lib-button
        buttonIdentifier="page-header-menu-btn"
        type="tetiary"
        (buttonClick)="isSearching = !isSearching"
        buttonStyles="!w-fit"
        class="!w-fit !hidden !min-[975px]:flex"
      >
        <lucide-angular [img]="icons.Menu" [size]="20" color="#5d5d5d" />
      </lib-button>
    </span>
  </nav>
  <app-search-field [isOpen]="isSearching"></app-search-field>
</header>
