<section
  [ngStyle]="bgColor() ? { 'background-color': bgColor() } : { 'background-image': 'url(' + bgImg() + ')' }"
  class="w-full min-h-[810px] bg-center bg-cover"
>
  <div
    class="flex lg:justify-between items-start page-horizontal-padding py-14 justify-center"
    [ngClass]="{ 'flex-col-reverse lg:flex-row-reverse': position() === 'form-first' }"
  >
    <div class="w-full lg:w-[35%] flex flex-col gap-12 md:w-[70%]">
      <span class="flex flex-col gap-3 text-center lg:text-left">
        <h2 libText textType="heading2" class="text-white lg:w-[50%] md:text-4xl">More Questions? Contact us</h2>
        <p libText textType="text-medium" class="text-white">Send us a message, and we’ll get back to you soon!</p>
      </span>
      <lib-sales-rep></lib-sales-rep>
    </div>
    <form></form>
  </div>
</section>
