@let sectionData = data();
<section *ngIf="sectionData" class="w-full flex justify-between gap-4">
  <div class="lg:max-w-[52.13rem] w-full">
    <h2 class="max-w-[700px] mb-3" libText textType="heading2">{{ sectionData.title }}</h2>
    <p class="py-0 max-w-[520px] mb-7" libText textType="text-large">{{ sectionData.description }}</p>

    <div class="flex flex-wrap">
      @for (item of sectionData.items; track item._uid) {
      <app-value-prop-item
        class="w-fit md:w-1/2 flex-shrink-0"
        [ngClass]="{ 'md:pr-6': $index % 2 === 0 }"
        [iconName]="item.iconName"
        [meritDescription]="item.description"
        [meritTitle]="item.title"
      />
      }
    </div>
  </div>
  <div class="hidden xl:flex max-w-[30.13rem] w-full flex-row justify-end relative">
    <div class="w-full h-full flex flex-col justify-center items-center">
      <div class="bg-muted rounded-xl overflow-hidden">
        <lib-image
          [src]="sectionData.image"
          alt="{{ 'Merits section image' }}"
          class="object-cover home-merits-image"
        />
      </div>
    </div>
  </div>
</section>
