<div>
  <div class="w-full 2xl:max-w-[750px] xl:max-w-[550px] lg:max-w-[450px] mb-5">
    <h1 class="max-w-[43.75rem]" libText textType="heading1">Quality Furniture for Every Home & Office</h1>

    <p class="mt-6" libText textType="text-medium">
      Your ultimate destination for premium furniture that blends elegance, comfort, and functionality. Whether you're
      revamping your living room, upgrading your office, we bring you an exquisite collection tailored to your taste
    </p>

    <!-- Hero Section CTA bttons -->
    <div class="flex items-center gap-6 flex-col md:flex-row mt-10">
      <div class="w-full md:w-auto">
        <lib-button buttonIdentifier="home-hero-section-shop-now-btn" buttonStyles="w-full"> Shop Now </lib-button>
      </div>

      <div class="w-full md:w-auto">
        <lib-button buttonIdentifier="home-hero-section-learn-more-btn" type="secondary" buttonStyles="w-full">
          Learn More
        </lib-button>
      </div>
    </div>
  </div>
</div>

@let imagesData = heroImages(); @let heroImageDataAvailable = imagesData && imagesData.length > 2;

<div class="flex mt-16 lg:mt-0 justify-center lg:justify-end gap-2 w-full lg:w-auto lg:gap-0 xl:gap-6 relative">
  <div class="md:mr-3 flex flex-col items-center gap-4">
    <!-- Hero Section Image -->

    @if (!heroImageDataAvailable) {
    <div appSkeleton class="home-hero-image rounded-t-full"></div>
    } @else {
    <div
      class="group home-hero-image rounded-t-full bg-muted overflow-hidden relative flex justify-center items-center flex-col ml-2 md:ml-0"
    >
      <lib-image
        alt="{{ imagesData[selectedIndex].name }}"
        [src]="imagesData[selectedIndex].image"
        class="size-9/12 group-hover:scale-110 transition-all mt-9"
      />
    </div>
    }

    <!-- Hero Image Arrow Navigations -->
    <div class="flex flex-row gap-2 mt-6 ml-16 lg:ml-0">
      <lib-button
        type="tetiary"
        title="Previous section"
        [buttonIdentifier]="'home-hero-section-prev-btn'"
        buttonStyles="size-10 !rounded-full flex justify-center items-center flex-col !bg-muted !p-0"
        (buttonClick)="handlePreviousButtonClick()"
      >
        <lucide-angular [img]="icons.ArrowLeft" [size]="20" class="text-icon" />
      </lib-button>
      <lib-button
        type="tetiary"
        title="Next section"
        [buttonIdentifier]="'home-hero-section-next-btn'"
        buttonStyles="size-10 !rounded-full flex justify-center items-center flex-col !bg-muted !p-0"
        (buttonClick)="handleNextButtonClick()"
      >
        <lucide-angular [img]="icons.ArrowRight" [size]="20" class="text-icon" />
      </lib-button>
    </div>
  </div>

  <!-- Hero Image Navigations -->
  <div>
    <div
      class="flex flex-col justify-between gap-4 h-[220px] xsm:h-[300px] sm:h-[400px] md:h-[450px] 2xl:h-[470px] xl:h-[380px] lg:h-[350px]"
    >
      @if (!heroImageDataAvailable) {
      <div class="h-[60px] w-[60px] md:h-[88px] md:w-[88px] rounded-full" appSkeleton></div>
      <div class="h-[60px] w-[60px] md:h-[88px] md:w-[88px] rounded-full" appSkeleton></div>
      <div class="h-[60px] w-[60px] md:h-[88px] md:w-[88px] rounded-full" appSkeleton></div>
      } @else { @for(position of imagePostions; track heroImages()[position]._id){ @let imageData =
      imagesData[position];

      <div class="group relative h-[35px] w-[60px] md:h-[55px] md:w-[88px] rounded-b-full bg-muted cursor-pointer">
        <div class="flex items-center flex-col -mt-6 rounded-full absolute inset-0 bottom-auto">
          <lib-image
            alt="{{ imageData.name }}"
            class="flex items-center flex-col rounded-full overflow-hidden group-hover:scale-110 transition-all duration-300 group group-first:!size-3/4 group-first:aspect-square group-first:rounded-full"
            [src]="imageData.image"
          />
        </div>
      </div>

      } }
    </div>
  </div>
</div>
