@let sectionData = heroContent(); @let heroImageDataAvailable = heroImages() && heroImages().length > 2;

<div>
  <div class="w-full 2xl:max-w-[750px] xl:max-w-[550px] lg:max-w-[450px] mb-5">
    @if (sectionData) {
    <h1 class="max-w-[43.75rem]" libText textType="heading1">{{ sectionData.title }}</h1>
    } @else {
    <div class="h-8 w-11/12 rounded-md mb-6" appSkeleton></div>
    <div class="h-8 w-11/12 rounded-md mb-4" appSkeleton></div>
    }

    <p
      class="mt-6"
      [ngClass]="{ 'h-24 w-full min-w-[20rem] xsm:w-[25rem] sm:w-[39rem]': !sectionData }"
      libText
      textType="text-medium"
    >
      {{ sectionData?.description }}
    </p>

    <div class="flex items-center gap-3 flex-col md:flex-row mt-10">
      <div class="w-full md:w-auto">
        <a routerLink="#" *ngIf="sectionData" class="bg-primary text-white block text-center py-3 rounded-sm md:px-4">{{
          getButtonData('shopBtn').buttonText
        }}</a>
        <div *ngIf="!sectionData" class="h-12 w-full md:min-w-32 rounded-md" appSkeleton></div>
      </div>

      <div class="w-full md:w-auto">
        <a
          routerLink="#"
          *ngIf="sectionData"
          class="bg-transparent text-primary border-primary border block text-center py-3 rounded-sm md:px-4"
        >
          {{ getButtonData('learnBtn').buttonText }}
        </a>
        <div *ngIf="!sectionData" class="h-12 w-full md:min-w-32 rounded-md" appSkeleton></div>
      </div>
    </div>
  </div>
</div>
<app-carousel
  class="w-[100%] lg:w-fit"
  [carouselImages]="heroImages()"
  [isImageAvailable]="heroImageDataAvailable"
></app-carousel>
