@if(heroContent()) {
<main class="">
  @if(!isLoading() && heroContent()) {
  <lib-hero
    [title]="heroContent()?.title ?? ''"
    [description]="heroContent()?.description ?? ''"
    [imageUrl]="heroContent()?.image?.[0]?.image"
  ></lib-hero>
  } @else {
  <div class="w-full h-[528px]" appSkeleton></div>
  }
  <div class="mx-auto px-4 sm:px-6 lg:px-8 py-12 flex flex-col items-center max-w-[1450px]">
    <app-statistics class="w-full" />
    <app-featured class="w-full" />
  </div>
  <app-location-map class="w-full" [location]="location" />
  <div class="mx-auto px-4 sm:px-6 lg:px-8 py-12 flex flex-col items-center max-w-[1450px]">
    <app-leadership class="w-full" />
    <app-showroom-grid class="w-full" />
  </div>
</main>
} @else {
<div class="w-full h-[528px]" appSkeleton></div>
}
