<div class="flex flex-col gap-6 p-7 bg-white rounded-md shadow-md text-sm md:text-base">
  <span class="flex gap-4 items-center">
    <img src="/images/sales-rep.jpg" alt="Sales Representative" class="w-14 h-14 rounded-full object-cover" />
    <span class="flex flex-col gap-1">
      <h4 libText textType="heading5">Anna Müller</h4>
      <p>Country rep</p>
    </span>
  </span>
  <span class="flex gap-4 items-center">
    <app-phone-icon></app-phone-icon>
    <p>+49 30 123 4567</p>
  </span>
  <span class="flex gap-4 items-center">
    <app-mail-icon></app-mail-icon>
    <p>anna.müller&#64;amalihomes.com</p>
  </span>
</div>
