<app-root-layout>
  <app-exhibition-sliders
    title="New Arrivals"
    [products]="newArrivals()"
    description="Shop now for exclusive discounts on stylish furniture—before the deals are gone"
    class="relative"
    url="/shop/new-arrivals"
  />
  <app-exhibition-sliders
    title="Top Sellers"
    [products]="topSellers()"
    description="Shop now for exclusive discounts on stylish furniture—before the deals are gone"
    class="relative"
    url="/shop/top-sellers"
  />
</app-root-layout>
