<div class="flex gap-2 items-center justify-center">
  <lib-button
    type="tetiary"
    title="Previous Page"
    [buttonStyles]="currentPage() === 1 ? '!text-[#feddaa] !cursor-not-allowed' : '!text-primary'"
    buttonIdentifier="prev-navigation-page-btn"
    (buttonClick)="onChangePage('prev')"
    [state]="currentPage() === 1 ? 'disabled' : 'default'"
  >
    <lucide-icon [img]="icons.ChevronLeft" [color]="currentPage() === 1 ? '#feddaa' : '#ea690c'" [size]="20" />
    Prev
  </lib-button>

  <ul class="flex gap-2 items-center">
    @for(page of pages(); track $index){
    <lib-button
      [type]="currentPage() === page ? 'primary' : 'tetiary'"
      buttonStyles="!w-0 !px-6 py-1 !font-light"
      title="Move to Page {{ page }}"
      (buttonClick)="onChangePage(undefined, page)"
      buttonIdentifier="page-{{ page }}-navigation-btn"
      >{{ page }}</lib-button
    >
    }
  </ul>

  <lib-button
    type="tetiary"
    title="Next Page"
    [buttonStyles]="currentPage() === numOfPages() ? '!text-[#feddaa] !cursor-not-allowed' : '!text-primary'"
    buttonIdentifier="next-navigation-page-btn"
    (buttonClick)="onChangePage('next')"
    [state]="currentPage() === numOfPages() ? 'disabled' : 'default'"
  >
    Next
    <lucide-icon
      [img]="icons.ChevronRight"
      [color]="currentPage() === numOfPages() ? '#feddaa' : '#ea690c'"
      [size]="20"
    />
  </lib-button>
</div>
