* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1.5px solid;
  background: white;
  color: #4f4f4f;
  font-size: 18px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error-message {
  color: #e22420;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 8px;
}

lucide-icon {
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.is-disabled,
.is-disabled input {
  color: #d1d1d1;
  cursor: not-allowed;
}

.is-disabled input::placeholder {
  color: #e7e7e7;
}

.primary {
  height: 48px;
  border-color: #d1d1d1;
  padding: 0 16px;
}

.secondary {
  height: 40px;
  border-color: #d1d1d1;
  padding: 0 12px;
}

.is-disabled .label {
  color: #d1d1d1;
}

.is-disabled.input-container {
  color: #e7e7e7;
}

.is-disabled .left-icon,
.is-disabled .right-icon {
  color: #d1d1d1;
}

.is-disabled {
  border-color: #f6f6f6;
}

.with-error {
  border-color: #e22420;
}

.with-warning {
  border-color: #f6a600;
}

.with-left-icon {
  padding-left: 8px;
}

.with-right-icon {
  padding-right: 8px;
}

.left-icon,
.right-icon {
  color: #5d5d5d;
  display: flex;
}
