@let sectionData = data();
<footer class="bg-footer py-6 md:py-16 text-white flex flex-col gap-10 md:gap-20 page-horizontal-padding">
  <div class="flex lg:flex-row flex-col gap-6 justify-between items-start">
    <span class="w-[100%] lg:w-[40%] flex flex-col gap-2 text-center md:text-left">
      <h4 class="font-medium text-lg">{{ sectionData?.subscriptionTitle }}</h4>
      <p class="text-xs font-light">{{ sectionData?.subscriptionText }}</p>
    </span>

    <span class="w-[100%] lg:w-[32%] flex flex-col gap-2">
      <form #form="ngForm" (ngSubmit)="onSubmit()" class="flex flex-col lg:flex-row lg:gap-[5%] gap-2">
        <input
          name="email"
          [(ngModel)]="email"
          appEmailValidator
          #emailRef="ngModel"
          type="text"
          class="bg-transparent border-white border rounded-md w-[100%] md:w-[50%] lg:w-[85%] px-4 py-3 placeholder:text-white"
          [placeholder]="sectionData?.inputPlaceholder"
          required
        />
        <p *ngIf="emailRef.invalid && emailRef.touched" class="text-red-500 text-[10px] tracking-wider block lg:hidden">
          {{ sectionData?.inputErrorText }}
        </p>
        <lib-button
          buttonStyles="!w-[100%] md:!w-[50%] lg:!w-[100%]"
          type="tetiary"
          (buttonClick)="onSubmit()"
          buttonIdentifier="subscription-button"
          >{{ sectionData?.buttonText }}</lib-button
        >
      </form>
      <p *ngIf="emailRef.invalid && emailRef.touched" class="text-red-500 text-[10px] tracking-wider hidden lg:block">
        {{ sectionData?.inputErrorText }}
      </p>
      <span class="flex text-xs font-thin gap-2 justify-center md:justify-start">
        <p>{{ sectionData?.privacyAcceptanceText }}</p>
        <a class="underline" [routerLink]="sectionData?.privacyLink?.[0]?.href?.url">{{
          sectionData?.privacyLink?.[0]?.text
        }}</a>
      </span>
    </span>
  </div>

  <div class="flex flex-col md:flex-row items-center md:items-start justify-between gap-6">
    <app-hyperlinks [category]="quickLinks()?.title" [links]="quickLinks()?.links"></app-hyperlinks>
    <app-hyperlinks [category]="companyLinks()?.title" [links]="companyLinks()?.links"></app-hyperlinks>
    <app-hyperlinks [category]="legalServicesLinks()?.title" [links]="legalServicesLinks()?.links"></app-hyperlinks>
    <span class="flex flex-col gap-6 text-center md:text-left">
      <h4 class="font-semibold text-md">{{ sectionData?.contactHeading }}</h4>
      <ul class="text-sm font-light flex flex-col gap-4">
        <li>{{ sectionData?.contactPhoneNumber }}</li>
        <li>{{ sectionData?.contactEmail }}</li>
      </ul>
    </span>
  </div>

  <div class="flex flex-col gap-6 text-xs">
    <hr />

    <span class="flex flex-col gap-4 lg:flex-row justify-between items-center">
      <span>
        <p>{{ sectionData?.legalRights }}</p>
      </span>

      <ul class="flex gap-4 md:hidden">
        <li *ngFor="let link of mobileViewLinks()?.links">
          <a [routerLink]="link.href.url">
            {{ link.text }}
          </a>
        </li>
      </ul>

      <span class="flex gap-4 items-center">
        <a routerLink="#"><app-facebook-icon /></a>
        <a routerLink="#"><app-insta-icon /></a>
        <a routerLink="#"><app-x-icon /></a>
        <a routerLink="#"><app-linkedin-icon /></a>
        <a routerLink="#"><app-youtube-icon /></a>
      </span>
    </span>
  </div>
</footer>
