@if(data()) {
<footer class="bg-footer py-6 md:py-16 text-white flex flex-col gap-10 md:gap-20 page-horizontal-padding">
  <div class="flex lg:flex-row flex-col gap-6 justify-between items-start">
    <span class="w-[100%] lg:w-[40%] flex flex-col gap-2 text-center md:text-left">
      <h4 class="font-medium text-lg">{{ data()?.subscriptionTitle }}</h4>
      <p class="text-xs font-light">{{ data()?.subscriptionText }}</p>
    </span>

    <span class="w-[100%] lg:w-[32%] flex flex-col gap-2">
      <form #form="ngForm" (ngSubmit)="onSubmit()" class="flex flex-col lg:flex-row lg:gap-[5%] gap-2">
        <input
          name="email"
          [(ngModel)]="email"
          appEmailValidator
          #emailRef="ngModel"
          type="text"
          class="bg-transparent border-white border rounded-md w-[100%] md:w-[50%] lg:w-[85%] px-4 py-3 placeholder:text-white"
          [placeholder]="data()?.inputPlaceholder"
          required
        />
        <p *ngIf="emailRef.invalid && emailRef.touched" class="text-red-500 text-[10px] tracking-wider block lg:hidden">
          {{ data()?.inputErrorText }}
        </p>
        <lib-button
          buttonStyles="!w-[100%] md:!w-[50%] lg:!w-[100%]"
          type="tetiary"
          (buttonClick)="onSubmit()"
          buttonIdentifier="subscription-button"
          >{{ data()?.buttonText }}</lib-button
        >
      </form>
      <p *ngIf="emailRef.invalid && emailRef.touched" class="text-red-500 text-[10px] tracking-wider hidden lg:block">
        {{ data()?.inputErrorText }}
      </p>
      <span class="flex text-xs font-thin gap-2 justify-center md:justify-start">
        <p>{{ data()?.privacyAcceptanceText }}</p>
        <a class="underline" [routerLink]="data()?.privacyLink?.[0]?.href?.url">{{
          data()?.privacyLink?.[0]?.text
        }}</a>
      </span>
    </span>
  </div>
  <div
    class="flex flex-col md:flex-row items-center md:items-start justify-stretch md:justify-between lg:justify-normal lg:gap-[15%]"
  >
    @for (groupedLink of groupedLinks(); track $index) {
    <app-hyperlinks
      class="last-of-type:hidden"
      [category]="groupedLink?.title"
      [links]="groupedLink?.links"
    ></app-hyperlinks>
    }
    <span class="flex flex-col gap-6 text-center md:text-left">
      <h4 class="font-semibold text-md">{{ data()?.contactHeading }}</h4>
      <ul class="text-sm font-light flex flex-col gap-4">
        <li>{{ data()?.contactPhoneNumber }}</li>
        <li>{{ data()?.contactEmail }}</li>
      </ul>
    </span>
  </div>

  <div class="flex flex-col gap-6 text-xs">
    <hr />

    <span class="flex flex-col gap-4 lg:flex-row justify-between items-center">
      <span>
        <p>{{ data()?.legalRights }}</p>
      </span>

      <ul class="flex gap-4 md:hidden">
        <li *ngFor="let link of groupedLinks()[groupedLinks().length - 1]?.links">
          <a [routerLink]="link.href.url">
            {{ link.text }}
          </a>
        </li>
      </ul>

      <span class="flex gap-4 items-center">
        <a routerLink="#" aria-label="Facebook"><app-facebook-icon aria-hidden="true" /></a>
        <a routerLink="#" aria-label="Instagram"><app-insta-icon aria-hidden="true" /></a>
        <a routerLink="#" aria-label="X (formerly Twitter)"><app-x-icon aria-hidden="true" /></a>
        <a routerLink="#" aria-label="LinkedIn"><app-linkedin-icon aria-hidden="true" /></a>
        <a routerLink="#" aria-label="YouTube"><app-youtube-icon aria-hidden="true" /></a>
      </span>
    </span>
  </div>
</footer>
}
