<article class="rounded-lg overflow-hidden">
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 h-[19.63rem] lg:h-[27.63rem] bg-muted">
      <img
        [src]="flashSaleImageUrl()"
        alt="{{ flashSaleName() || 'Flash sale section image' }}"
        class="w-full h-full object-cover"
      />
    </div>

    <div class="w-full md:w-1/2 bg-[#3c3c3c] text-white py-10 px-6 flex flex-col justify-center">
      <h2 class="mb-2" libText textType="heading2">FLASH SALE: 25% OFF All Living Room Furniture</h2>
      <p libText textType="text-normal">
        Refresh your space for less! Use code NEWSPACE at checkout. Ends March 31st. Free shipping on orders over $500.
      </p>
      <div class="mt-10">
        <lib-button buttonIdentifier="home-flash-sale-btn" buttonStyles="w-full sm:w-auto transition-colors">
          Learn More
        </lib-button>
      </div>
    </div>
  </div>
</article>
