<div class="flex justify-between items-center mb-4 relative">
  <div class="flex flex-col gap-2 w-[90%]">
    <h3 libText textType="heading3" class="!text-2xl">{{ title() }}</h3>
    <p class="text-sm md:text-base">{{ description() }}</p>
  </div>

  @if(routable()){
  <a [routerLink]="url()" class="absolute right-0 top-0 md:static text-primary"> View all </a>
  }
</div>

<div class="absolute top-[45%] left-0 flex items-center justify-between w-full -translate-y-[50%] z-10">
  <lib-button
    type="tetiary"
    buttonIdentifier="exhibition-sliders-left-arrow"
    (buttonClick)="onArrowNavigation('left')"
    buttonStyles="!p-2 !rounded-full !justify-center !bg-[#F6F6F6] "
    ><lucide-icon [img]="icons.ArrowLeft" [size]="20" color="#545F71"
  /></lib-button>
  <lib-button
    type="tetiary"
    buttonIdentifier="exhibition-sliders-left-arrow"
    (buttonClick)="onArrowNavigation('left')"
    buttonStyles="!p-2 !rounded-full !justify-center !bg-[#F6F6F6] "
    ><lucide-icon [img]="icons.ArrowRight" [size]="20" color="#545F71"
  /></lib-button>
</div>

<div class="flex gap-4 overflow-x-scroll scrollbar-hide">
  @for(product of sliderProducts(); track $index) {
  <app-product-card
    [product]="product"
    [width]="'220px'"
    [isOnSlider]="true"
    [displayDiscount]="showDiscount()"
    [hideTags]="hideTags()"
  />
  }
</div>
