@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

:root {
  --font-sans: '';
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
  color-scheme: light;

  --muted: 240 4.8% 95.9%;
  --primary-light: 37 100% 96%;
  --icons-color: 217 15% 39%;
  --text-strong: 0 0% 15%;
  --text-weak: 0 0% 36%;
  --stroke-strong: 0 0% 69%;
  --stroke-weak: 0 0% 82%;
  --fill-strong: 0 0% 91%;
  --fill-weaker: 0 0% 96%;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  color-scheme: dark;

  --muted: 240 3.7% 15.9%;
  --primary-light: 37 100% 96%;
  --icons-color: 217 15% 39%;
  --text-strong: 0 0% 15%;
  --text-weak: 0 0% 36%;
  --stroke-strong: 0 0% 69%;
  --stroke-weak: 0 0% 82%;
  --fill-strong: 0 0% 91%;
  --fill-weaker: 0 0% 96%;
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer components {
  .page-horizontal-padding {
    @apply px-4 lg:px-8 xl:px-12 2xl:px-20;
  }
  .home-section-vertical-margin {
    @apply my-2 lg:my-4 xl:my-8;
  }
  .home-section-vertical-padding {
    @apply py-4 lg:py-8 xl:py-16;
  }
  .home-hero-image {
    @apply h-[13.75rem] xsm:h-[18.75rem] sm:h-[25rem] md:h-[28.125rem]
    lg:h-[21.875rem] xl:h-[26.75rem] 2xl:h-[29.375rem] w-[15.625rem]
    xsm:w-[18.75rem] sm:w-[30rem] lg:w-[25rem] xl:w-[32.375rem] 2xl:w-[38.375rem];
  }
  .home-merits-image {
    @apply !w-[28.125rem] !h-[36.75rem];
  }
  .home-arrivals-image {
    @apply object-cover md:!aspect-square !w-[14.75rem] md:!w-[19.75rem] lg:!w-[26.31rem] !h-[19.75rem] md:!h-[26.38rem] lg:!h-[35.12rem];
  }
  .home-products-image {
    @apply object-cover md:!aspect-square !w-[14.75rem] md:!w-[19.75rem] lg:!w-[26.31rem] !h-[12.68rem] md:!h-auto;
  }
}

.active-route {
  @apply p-2 border-b-primary border-b-[2px];
}

.route {
  @apply p-2 border-b-transparent border-b-[2px];
}

.show-search-field {
  @apply translate-y-0 duration-200 opacity-100;
}

input.ng-invalid.ng-touched {
  @apply border-red-500;
}

input:focus.ng-invalid.ng-touched {
  @apply border-0 outline-red-500 outline;
}
